.box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);
}
.button:hover,
.button:focus {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
